{% extends 'journals/extend_base.html' %}  

{% block content %}
  <div id="content">
    <div class="col-md-12" style="padding:10px;">
        
          <div class="panel box-v1">
            <div class="panel-heading bg-white border-none">
              <div class="col-md-12 col-sm-12 col-xs-12 text-center padding-0">
                <h1>{{page_title}}</h1>
              </div>
            </div>
            <div class="panel-body">
              <hr/>
              <div class="col-sm-12">
              {% if message %}
                <div class="alert alert-primary alert-outline alert-dismissible fade in" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                            <strong>{{message}}</strong>
                          </div>
              {% endif %}
              </div>
              {% if issue_create %}
                {% include 'journals/issue_form.html' %}
              {% else %}
                <div class="col-sm-12">
                  {% include 'journals/issue_nav.html' %}
                </div>
                <div class="col-sm-12" style="padding-bottom:20px;">
                  <a href="/joumsy/issue/create/" class="btn btn-primary">Create Issue</a>
                </div>
                <div id="jms_article_list">
                  
                  <div class="col-sm-12">
                  {% include 'journals/issue_list.html' %}
                  </div>

                </div>
              {% endif %}
            </div>
          </div>
          

    </div>
  </div>  
{% endblock content %}
{% block custom_scripts %}
    <script src="{{STATIC_URL}}js/journal.js"></script>
{% endblock custom_scripts %}