{% load security %}

<ul id="tab-jms-issue" class="nav nav-tabs nav-tabs-v3">
  
  
  <li class="{{not_published}}">
    <a href="/joumsy/issues_view/not_pulished/" >
      <h4><span class=""></span> Un-Published </h4>
    </a>
  </li>
      <!-- <li><a data-toggle="tab" href="#postponed">Postponed</a></li> -->
 <!--  <li class="{{art_files}}">
    <a href="/joumsy/sub_info/{{art_info.id|encrypts:"encrypt"}}/editing/"  >
     <h4> <span class="icons icon-note"></span> Editing</h4>
    </a>
  </li> -->
  
  <li class="{{published}}" >
    <a href="/joumsy/issues_view/published/">
      <h4 > <span class=""></span> Published</h4> 
    </a>
  </li>
</ul>
<br>