{% load security %}

<div class="modal fade" id="view_reivewer_response" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
  	<div class="modal-content">
      
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 class="modal-title">Reviewer Response</h3>
      </div>
      
      <div class="modal-body">
				<div class="col-sm-12 padding-0">
					<div class="panel">
						<div class="panel-heading"><h4><strong>Reviewe(s) Response</strong></h4> </div>
						
						<div class="panel-body">

							
							<div id="reviewer_response">
								{% include 'journals/review_response.html' %}
							</div><!-- reviewer_response -->
					  
						</div><!-- panel-body -->

					</div><!-- panel -->
				</div>
			</div><!-- /.modal-body -->

      <div class="modal-footer"> 
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
