<!-- start:Left Menu -->
  <li class="ripple">
    <a class="tree-toggle nav-header">
      <span class="icons icon-docs"></span> JMS Submissionn
      <span class="fa-angle-right fa right-arrow text-right"></span>
    </a>
    <ul class="nav nav-list tree">
      <li><a href="/articles/articles-list">Submission</a></li>
      <li><a href="boxed.html">On_Review</a></li>
      <li><a href="boxed.html">Published</a></li>
      <li><a href="boxed.html">Rejected</a></li>
    </ul>
  </li>
<!-- end: Left Menu -->