 

<div class="panel">
  <div class="panel-body">
    <div class="col-md-12 col-sm-12">
      <h3 class="animated fadeInLeft">{{request.user.first_name|title}} {{request.user.last_name|title}}</h3>
      <p class="animated fadeInDown"><span class="fa fa-map-marker"></span> {{request.user.address|title}} </p>
      
      <!-- <ul class="nav navbar-nav ">
        <li><a href="/articles/articles-list/" class="active bg-dark-yellow">Submitted Article</a></li>
        <li><a href="/articles/draft-list/" class="{{art_draft}} black">Drafts</a></li>
        <li><a href="" class="black">On Review</a></li>
        <li><a href="" class="black">Published</a></li>
      </ul> -->
    </div>
  </div>
</div>