
<div class="col-md-12 padding-0 nav-wrapper">
      <div class="col-md-12 ">
      <!-- <img style="width:100%; height:50px; " src="{{STATIC_URL}}img/Footer.png"> -->
      </div>
      <nav class="navbar navbar-inverse container-fluid home-nav"   role="navigation">
          <div class="container" >
              <!-- Brand and toggle get grouped for better mobile display -->
              <!--  style=" height:100px; border-radius:0px; border:0px;" -->
              <div class="navbar-header padding-top" >
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                      <span class="sr-only">Toggle navigation</span>
                      <span class=" icon icon-menu"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="/" style='font-size:2.2em; text-shadow:5px; font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; border-bottom: 3px solid #f0ad4e;'>MSRC JPS</a><br/><br/>
                  <i class="font-size:7px;">Mindanao State University - Mamitua Saber Research Center</i>
              </div>
              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse padding-top" id="bs-example-navbar-collapse-1">
                  <ul class="nav navbar-nav navbar-right" style='Verdana, Geneva, Tahoma, Arial, Helvetica, sans-serif;'>
                      <li>
                          <a href="/">Home</a>
                      </li>
                      
                      <li>
                          <a href="/msrc/issue_list/">Issues</a>
                      </li>
                      <!-- <li>
                          <a href="/msrc/current/">Current</a>
                      </li> -->
                      <li class="dropdown avatar-dropdown">
                          <a href="" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"> About <b class="caret"></b></a>

                          <ul class="dropdown-menu user-dropdown">
                              
                              <li>
                                  <a href="/msrc/about_msrc/"><strong class="black">MSRC</strong></a>
                              </li>

                              <li>
                                  <a href="404.html"><strong class="black">MSRC Academic Journal</strong></a>
                              </li>
                              
                              <li>
                                  <a href="/msrc/faq/"><strong class="black">FAQ</strong></a>
                              </li>
                          </ul>
                      </li>
                      
                  </ul>
              </div>
              <!-- /.navbar-collapse -->
          </div>
          <!-- /.container -->
      </nav>
    </div>